<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/CSS/style.css">
</head>

<body>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <!-- <form action="http://127.0.0.1:5000/image" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="image" itemtype="image">
        <button type="submit">send</button>
    </form> -->
    <div id="root" class="App"></div>
    <!-- <img src={{img}} alt="">  -->

    <script src="static/components/index.js" type="text/babel"></script>
</body>

</html>